@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.hero {
  @include flex-center;

  min-height: 80vh;
  padding: $space-xl $space-sm;
  background-color: $clr-bg;
}

.content {
  @include content;

  text-align: center;
}

.title {
  div {
    display: block;
    overflow: hidden;
  }

  span {
    display: inline-block;
  }
}

.description {
  margin: $space-lg auto;
  color: color-mix(in oklch, $clr-text, transparent 20%);
}

.cta {
  display: inline-block;
  padding: $space-sm $space-xl;
  font-weight: 600;
  color: $clr-white;
  background-color: var(--clr-primary);
  border-radius: var(--radius);
  transition: transform 0.3s ease;

  &:hover {
    background-color: color-mix(in oklch, $clr-primary, $clr-black 10%);
    transform: translateY(-3px);
  }
}