// --- Colors ---
$clr-primary: #9b5fce;
$clr-secondary: #97ddf9;
$clr-bg: #cfd5da;
$clr-text: #0e171e;
$clr-white: #fff;
$clr-black: #0b0b0b;
$clr-primary-20: #9b5fce33;


// --- Shadows --- 
$light-shadow: 0 5px 15px #0000001a;
$dark-shadow: 0 10px 25px #0003;

// --- Spacing & Layout ---
$max-width-content: 1300px;
$font-size-base: 1rem;
$space-xs: 0.5rem;   // 8px
$space-sm: 1rem;     // 16px
$space-md: 1.25rem;  // 20px
$space-lg: 1.5rem;   // 24px
$space-xl: 2.5rem;   // 40px
$space-xxl: 3rem;    // 48px
$radius: 0.5rem;

// --- Icons ---
$icon-sm: 2rem;

// --- Z-Index ---
$z-negative: -10;
$z-base: 1;
$z-header: 100;
$z-dropdown: 200;
$z-modal: 1000;

// --- Animations ---
$transition-base: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$transition-slow: 0.6s cubic-bezier(0.22, 1, 0.36, 1);


// Export to CSS Variables
:root {
  --clr-primary: #{$clr-primary};
  --radius:      #{$radius};
  --max-width:   #{$max-width-content};
}