.appWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background:
    linear-gradient(235deg, $clr-primary-20, transparent 50%),
    linear-gradient(200deg, $clr-white, transparent 90%),
    linear-gradient(336deg, $clr-secondary, transparent 30%);
  background-repeat: no-repeat;
  background-size: cover;
}


main {
  position: relative;
  width: 100%;
  max-width: $max-width-content;
  height: 100%;
  padding: 0 $space-xs;
}

.overlay {
  z-index: 1;
  color: $clr-text;
  text-align: center;
  pointer-events: none;

  h1 {
    margin: 0;
  }

  p {
    margin: $space-xs auto;
    opacity: 0.5;
  }
}