.panel {
  z-index: $z-dropdown;
  gap: $space-md;
  width: 80%;
  padding: $space-lg;
  margin: $space-sm auto;
  border-radius: calc($radius * 2);
  box-shadow: $dark-shadow;

  @include flex-center(row, center, start);
  @include glass;


  @include screen(tablet) {
    position: absolute;
    right: 0;
    bottom: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: $space-md;
    margin: 0 $space-xs;
    text-align: center;
    transform: translate(0, 50%);
  }
}

.sectionTitle {
  font-size: 13px;
  font-weight: bold;
  color: $clr-text;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  gap: $space-sm;

  @include screen(tablet) {
    justify-content: center;
  }
}

.swatch,
.swatchWood {
  width: $icon-sm;
  height: $icon-sm;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white;
  transition: all $transition-base;

  &:hover {
    transform: scale(1.1);
  }

  &.active {
    border: 3px solid $clr-black;
    transform: scale(1.2);
  }
}

.swatchWood {
  background-image: url('/textures/wood_texture.webp');
  background-size: cover;
  background-blend-mode: multiply;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.screenshotBtn {
  @include flex-center(column, space-between, center);
}