header {
  z-index: $z-header;
  width: 100vw;
  max-width: $max-width-content;
  padding: $space-sm $space-lg;
  margin: $space-xs 0 0;

  @include flex-center(row, space-between, center);
}

.logo {
  font-size: calc($font-size-base * 2);
  line-height: 0;
  filter: hue-rotate(275deg);
}

.nav {
  width: auto;
  min-width: 45px;
  max-width: 80px;
  padding: $space-sm;
  font-size: $font-size-base;
  font-weight: bolder;
  color: $clr-primary;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all $transition-slow;

  @include flex-center(row, space-between, center);

  ul {
    @include flex-center(row, space-evenly, center);

    overflow: hidden;
    opacity: 0;
    transition: opacity $transition-base, transform $transition-base;
    transform: translateX(10px);

    li {
      margin-right: 1rem;
    }
  }

  &.showLinks {
    max-width: 90vw;
    padding: $space-sm $space-lg;

    ul {
      max-width: 100%;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.navToggle {
  color: $clr-primary;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  transition: $transition-slow;

  &.hover {
    color: $clr-primary;
  }

  &.active {
    .dot:nth-child(1) {
      width: 100%;
      transform: translateY(11px) rotate(45deg);
    }

    .dot:nth-child(2) {
      opacity: 0;
    }

    .dot:nth-child(3) {
      width: 100%;
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.dotsMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: $icon-sm;
  height: $icon-sm;
  transition: transform $transition-base;
}

.dot {
  display: block;
  width: 90%;
  height: 0.2rem;
  background-color: $clr-primary;
  border-radius: 25%;
  transition: transform 0.8s ease, opacity 0.3s 0.1s ease;
}