
footer {
  position: fixed;
  bottom: 0;
  padding: 0 $space-md;
  margin: 0 auto;
  text-align: center;
  opacity: 0.5;

  p {
    margin: 0;
    font-size: calc($font-size-base / 1.25);
  }

  a {
    font-weight: bold;
    color: $clr-primary;
  }
}