.canvasContainer{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 75vh;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}